* {
  box-sizing: border-box;
}

/* Single-direction margin declaration to establish vertical rhythm. */
h1 {
  margin-bottom: 0.7rem;
}

body {
  background: url('assets/background.png') repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #444349;
}

h1,
h2 {
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 1.4rem;
}
span {
  font-size: 0.8rem;
}
a {
  text-decoration: none;
  color: lightskyblue;
}

a:hover {
  color: #eda087;
  transition: color 0.15s ease-in-out;
}
/* ====:)=====
    HEADER STYLES
=======:)====*/

header {
  width: 100%;
  min-height: 0vh;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  background: url(assets/cover.jpg) no-repeat center/cover;
  background-position-x: 1%;
  background-position-y: 1%;
}

.hero-text {
  max-width: 85%;
  margin: 0 auto;
  padding: 0.625rem;
  color: white;
  background: hsla(100, 0%, 0%, 0.6);
}

.hero-text h1 {
  font-size: 2.2rem;
  color: #d2ba87;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  
  header {

  background-position-x: 50%;
  background-position-y: 1%;
}
  
  span {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  
}
  .hero-text {
    width: 60%;
    padding: 2.25rem;
    border-radius: 50px;
  }

  .hero-text h1 {
    font-size: 4rem;
  }
}

.hero-icon-wrapper {
  display: flex;
  justify-content: center;
}

.hero-icon-wrapper i {
  display: flex;
  justify-content: center;
  margin: auto 0.5rem;
}

.tagline {
  font-size: 1rem;
  letter-spacing: 0.15rem;
  color: palevioletred;
}

@media (min-width: 768px) {
  .tagline {
    font-size: 1.4rem;
  }
}

.tagline::after {
  content: '';
  width: 12.515625rem;
  height: 1px;
  margin: 0.75rem auto;
  display: block;
  background-color: #fff;
}
span::before {
  content: '';
  width: 12.515625rem;
  height: 1px;
  margin: 0.75rem auto;
  display: block;
  background-color: #fff;
}

.date {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
}

@media (min-width: 768px) {
  .date span{
    display: block;
  }
  .date {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
}




.date a {
  display: block;
  margin-top: 1.5rem;
}

.program {
  width: 100%;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: hsla(100, 0%, 0%, 0.6);
  color: #d2ba87;
  font-family: 'Muli', sans-serif;
}

.program h2 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

.program p {
  font-size: 0.8rem;
  padding: 0.3rem;
  font-style: italic;
  color: white;
}

@media (min-width: 768px) {
  h2 {
  font-size: 3rem;
}
  .program-wrapper {
    width: 80%;
    height: auto;
  }
  .program p {
  font-size: 1.3rem;
  padding: 1rem;
  font-style: italic;
  color: white;
}

}

footer {
  width: 100%;
  height: 5vh;
  background-color: #606060;
  display: table;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 0.575rem;
  color: #fff;
}

.footer-wrapper {
  padding: 0.3rem 0.6rem;
  display: table-cell;
  vertical-align: middle;
}

footer p {
  margin-bottom: 0;
}

footer small {
  line-height: 1.5;
}
@media (min-width: 768px) {
  footer {
    min-height: 5vh;
  }
}